@import url(http://fonts.googleapis.com/css?family=Montserrat:700|Molengo);

*, *::before, *::after {
    overflow: inherit;
    vertical-align: inherit;
    padding: 0;
    border: none;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow: auto;
    font-size: 62.5%;
    vertical-align: bottom;
    box-sizing: border-box;
}

body {
    background: #310;
    color: darkgoldenrod;
    font-size: 1.6rem;
    text-align: center;
    padding-bottom: 15vw;
}

h1 {
    font: normal 2.6rem/5.2rem Molengo;
    text-transform: uppercase;
}

h2 {
    font: normal 2rem/2.6rem Molengo;
    text-transform: uppercase;
}

p {
    font: normal 1.6rem/2.6rem Molengo;
    text-transform: uppercase;
    margin: 0 0 1.3rem 0;
}

@golden: fade(darkgoldenrod, 50%);

ul.stripy {
    background-image: repeating-linear-gradient(to bottom, @golden, @golden 0.1rem, transparent 0.1rem, transparent 2.6rem);
    color: darkgoldenrod;
    font: 2rem/5.2rem Molengo;
    text-align: left;
    text-transform: uppercase;
    border-bottom: 0.1rem solid fade(@golden, 20%);

    li {
        cursor: pointer;
        padding: 0 7.5vw;
    } 

    li:hover {
        letter-spacing: 0.2em;
    } 
    
    span {
        cursor: inherit;
        background: #310;
    }
        
}

header {
    display: inline-block;
    background: maroon;
    color: darkgoldenrod;
    font: 700 6vw/1.2 "Montserrat";
    letter-spacing: 1em;
    overflow: hidden;
    text-transform: uppercase;
    padding: 0 0 0 1em;
    border: 0.1em solid darkgoldenrod;
    border-radius: 0.5rem;
    margin: 2.6rem 0;
}

.hidden {
    display: none;
}

.now-playing {
    background: antiquewhite;
    width: 84.2vw;
    position: fixed;
    bottom: -100vh;
    left: 7.5vw;
    border-radius: 5px;
    transition: bottom 0.25s;
}

.now-playing.show {
    bottom: 11vw;
}

.controls {
    width: 84.2vw;
    position: fixed;
    bottom: 0;
    left: 7.5vw;
    font-size: 0;
    
    li {
        display: inline-block;
        width: 19%;
        height: 10vw;
        background: antiquewhite;
        vertical-align: bottom;
        overflow: hidden;
        border-radius: 5px 5px 0 0;
        margin: 0 0 0 1.25%;
        cursor: pointer;
        transition: height 0.25s;
        
        &.down {
            height: 14vw;
            padding: 4vw 0 0 0;
        }
        
        &:first-child {
            margin: 0;
        } 
         
        svg {
            display: block;
            height: 6vw;
            fill: fade(darkgoldenrod, 60%);
            margin: 2vw auto;
            transition: transform 0.125s;
        }
        
        &.down svg {
            transform: rotate(180deg);
        }
    }  
}

.search {
    display: none;
    width: 100vw;
    height: 100vh;
    background: fade(#310, 90%);
    text-align: left;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2.6rem 7.5vw;
    
    a {
        background: maroon;
        display: block;
        position: fixed;
        bottom: 2vw;
        left: 50%;
        font: 700 5vw Montserrat;
        color: darkgoldenrod;
        text-decoration: none;
        text-transform: uppercase;
        transform: translateX(-50%);
        border: 0.4rem solid darkgoldenrod;
        border-radius: 0.5rem;
        padding: 1vw;
        
        svg {
            display: inline-block;
            width: 6vw;
            height: 6vw;
            fill: darkgoldenrod;
        }
    }
    
    .textbox {
        width: 80%;
        height: 5.2rem;
        background: white;
        font: 2.6rem Molengo;
        text-transform: uppercase;
        padding: 0 1rem;
        border: 0.4rem solid darkgoldenrod;
        border-right: none;
        border-radius: 0.5rem 0 0 0.5rem;
    }
    
    .button {
        display: inline-block;
        background: maroon;
        width: 20%;
        height: 5.2rem;
        overflow: hidden;
        border: 0.4rem solid darkgoldenrod;
        border-left: none;
        border-radius: 0 0.5rem 0.5rem 0;
        
        input {
            position: relative;
            top: 0;
            left: -99999em;
        }
        
        svg {
            height: 2rem;
            fill: darkgoldenrod;
        }
    }
    
    ul:empty::after {
        display: block;
        content: 'No results.';
    }
    
    ul:last-child {
        margin-bottom: 10vw;
    }
    
    li {
        padding: 1.2rem 0 0 0;
        border-bottom: 0.1rem solid @golden;
    }
    
    li:last-child {
        border-bottom: none;
    }
    
    h1 {
        margin-top: 2.6rem;
    }
    
    &.blank h1,
    &.blank ul {
        display: none;
    }
    
    &:target {
        display: block;
    }
}

.offline {
    header {
        background: desaturate(#800000, 100%);
        color: desaturate(#b8860b, 100%);
        border-color: desaturate(#b8860b, 100%);
    }
}