@import url(http://fonts.googleapis.com/css?family=Montserrat:700|Molengo);

*, *::before, *::after {
    overflow: inherit;
    padding: 0;
    border: none;
    margin: 0;
    box-sizing: border-box;
}

html {
    overflow: auto;
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    background: #310;
    color: darkgoldenrod;
    font-size: 1.6rem;
    text-align: center;
    padding-bottom: 15vw;
}

h1 {
    font: normal 2.6rem/5.2rem Molengo;
    text-transform: uppercase;
    margin: 0 2.6rem;
}

p {
    font: normal 1.6rem/2.6rem Molengo;
    text-transform: uppercase;
    margin: 0 2.6rem 1.3rem 2.6rem;
}

@golden: fade(darkgoldenrod, 50%);

ul.stripy {
    background-image: repeating-linear-gradient(to bottom, @golden, @golden 0.1rem, transparent 0.1rem, transparent 2.6rem);
    color: darkgoldenrod;
    font: 2rem/5.2rem Molengo;
    text-align: left;
    text-transform: uppercase;
    border-bottom: 0.1rem solid fade(@golden, 20%);

    li {
        cursor: pointer;
        padding: 0 7.5vw;
    } 

    li:hover {
        letter-spacing: 0.2em;
    } 
    
    span {
        cursor: inherit;
        background: #310;
    }
        
}

header {
    display: inline-block;
    background: maroon;
    color: darkgoldenrod;
    font: 700 6vw/1.2 "Montserrat";
    letter-spacing: 1em;
    overflow: hidden;
    text-transform: uppercase;
    padding: 0 0 0 1em;
    border: 0.1em solid darkgoldenrod;
    border-radius: 0.5rem;
    margin: 2.6rem 0;
}

.hidden {
    display: none;
}

.now-playing {
    background: antiquewhite;
    width: 84.2vw;
    position: fixed;
    bottom: -100vh;
    left: 7.5vw;
    border-radius: 5px;
    transition: bottom 0.25s;
}

.now-playing.show {
    bottom: 11vw;
}

.controls {
    width: 84.2vw;
    position: fixed;
    bottom: 0;
    left: 7.5vw;
    font-size: 0;
    
    li {
        display: inline-block;
        width: 19%;
        height: 10vw;
        background: antiquewhite;
        vertical-align: bottom;
        overflow: hidden;
        border-radius: 5px 5px 0 0;
        margin: 0 0 0 1.25%;
        cursor: pointer;
        transition: height 0.25s;
        
        &.down {
            height: 14vw;
            padding: 4vw 0 0 0;
        }
        
        &:first-child {
            margin: 0;
        } 
         
        svg {
            display: block;
            height: 6vw;
            fill: fade(darkgoldenrod, 60%);
            margin: 2vw auto;
            transition: transform 0.125s;
        }
        
        &.down svg {
            transform: rotate(180deg);
        }
    }  
}

.offline {
    header {
        background: desaturate(#800000, 100%);
        color: desaturate(#b8860b, 100%);
        border-color: desaturate(#b8860b, 100%);
    }
}